<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhanglin.server.mapper.LogTrackMapper">

    <resultMap type="LogInfo" id="LogInfoMap">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="logName" column="log_name" jdbcType="VARCHAR"/>
        <result property="username" column="user_name" jdbcType="VARCHAR"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="functionName" column="function_name" jdbcType="VARCHAR"/>
        <result property="inParam" column="in_param" jdbcType="VARCHAR"/>
        <result property="outParam" column="out_param" jdbcType="LONGVARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into log_info (log_name, user_name, role_name, url, ip, function_name, in_param, out_param)
        values (#{logName}, #{username}, #{roleName}, #{url}, #{ip}, #{functionName}, #{inParam}, #{outParam})
    </insert>

    <delete id="delete">
        delete
        from log_info
        where id = #{id}
    </delete>

    <select id="queryAll" resultMap="LogInfoMap">
        select *
        from log_info
        where concat(ifnull(log_name, ''), ifnull(user_name, ''), ifnull(url, ''))
                  like concat('%', ifnull(#{logName}, ''), '%', ifnull(#{username}, ''), '%', ifnull(#{url}, ''), '%')
    </select>

    <select id="queryAllLogin" resultMap="LogInfoMap">
        select *
        from log_info
        where concat(ifnull(user_name, ''), ifnull(url, ''))
            like concat('%', ifnull(#{username}, ''), '%', ifnull(#{url}, ''), '%')
          and log_name = #{"登录日志"}
    </select>

    <select id="queryAllException" resultMap="LogInfoMap">
        select *
        from log_info
        where concat(ifnull(user_name, ''), ifnull(url, ''))
            like concat('%', ifnull(#{username}, ''), '%', ifnull(#{url}, ''), '%')
          and log_name = #{"异常日志"}
    </select>

    <select id="queryAllOperate" resultMap="LogInfoMap">
        select *
        from log_info
        where concat(ifnull(user_name, ''), ifnull(url, ''))
            like concat('%', ifnull(#{username}, ''), '%', ifnull(#{url}, ''), '%')
          and log_name != #{"登录日志"}
          and log_name != #{"异常日志"}
    </select>


</mapper>

