<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhanglin.server.mapper.SysRoleMapper">

    <resultMap type="SysRole" id="SysRoleMap">
        <id property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="menu" column="menu" jdbcType="VARCHAR"/>
        <result property="enable" column="enable" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryById" resultMap="SysRoleMap">
        select role_id, role_name, description, enable, menu, create_time, update_time
        from sys_role
        where role_id = #{roleId}
    </select>

</mapper>

